*{
	background: black;
}
body{
	background-color: mediumblue;
}
h1{
	font-family: cascadia code semibold;
	font-size: 60px;
	color: darkcyan;
	text-align: center;
}
.p1{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: darkcyan;
	text-align: center;
}
.p2{
	font-family: javanese text;
	font-size: 20px;
	color: darkturquoise;
	text-align: justify;
}
.p3{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: darkcyan;
	text-align: center;
}
.p4{
	font-family: javanese text;
	font-size: 20px;
	color: darkturquoise;
	text-align: justify;
}
.p5{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: darkcyan;
	text-align: center;
}
.p6{
	font-family: javanese text;
	font-size: 20px;
	color: darkturquoise;
	text-align: justify;
}
.p7{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: darkcyan;
	text-align: center;
}
.p8{
	font-family: javanese text;
	font-size: 20px;
	color: darkturquoise;
	text-align: justify;
}