*{
	background: black;
}
body{
	background-color: mediumblue;
}
h1{
	font-family: cascadia code semibold;
	font-size: 60px;
	color: darkcyan;
	text-align: center;
}
.p1{
	font-family: javanese text;
	font-size: 30px;
	color: darkturquoise;
	text-align: justify;
}