*{
	background: black;
}
body{
	background-color: darkcyan;
}
h1{
	font-family: cascadia code semibold;
	font-size: 60px;
	color: teal;
	text-align: center;
}
.p1{
	font-family: javanese text;
	font-size: 20px;
	color: lightseagreen;
	text-align: justify;
}