*{
	background: black;
}
body{
	background-color: pink;
}
h1{
	font-family: cascadia code semibold;
	font-size: 80px;
	color: mediumvioletred;
	text-align: center;
}
.p1{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}
.p2{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: deeppink;
	text-align: center;
}
.p3{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}
.p4{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: deeppink;
	text-align: center;
}
.p5{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}
.p6{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: deeppink;
	text-align: center;
}
.p7{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}
.p8{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: deeppink;
	text-align: center;
}
.p9{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}
.p10{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: deeppink;
	text-align: center;
}
.p11{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}
.p12{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: deeppink;
	text-align: center;
}
.p13{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}
.p14{
	font-family: cascadia code semibold;
	font-size: 40px;
	color: deeppink;
	text-align: center;
}
.p15{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}