*{
	background: black;
}
body{
	background-color: pink;
}
h1{
	font-family: cascadia code semibold;
	font-size: 60px;
	color: mediumvioletred;
	text-align: center;
}
.p1{
	font-family: javanese text;
	font-size: 20px;
	color: hotpink;
	text-align: justify;
}